<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Full Issues
        </h2>
        <p>
            High-resolution scans of our previous volumes can be found online in the University Archives, going back to
            our first volume in 1908. Please note that in 1956, the title changed from "Blue Print" to "Blueprint."
        </p>
        <p>
            Further, know that we at the <i>Blueprint</i> condemn some of the images captured in our yearbooks decades
            ago as they are not in keeping with our values nor do they reflect our ongoing commitment to create a
            welcoming and accepting community for everyone at Georgia Tech.
        </p>
        <a href="https://hdl.handle.net/1853/12189" class="cs-button-solid">Proceed to University Archives</a>
    </div>
    <picture>
        <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg"> -->
        <img aria-hidden="true" decoding="async" src="/assets/images/stupubs-computers.jpg" alt="kitchen cabinets"
            loading="lazy" width="2500" height="1667">
    </picture>

</section>