<div class="tl-box">
    <div class="timeline">
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2> 2012 </h2>
                <p>CSPA Silver Crown, Gold Medal, 12 Gold Circle Awards</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>2011</h2>
                <p>22 CSPA Gold Circle Awards, CSPA Bronze Medal</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>2008</h2>
                <p>2 CSPA Gold Circle Awards</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>2007</h2>
                <p>7 CSPA Gold Circle Awards</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>2005</h2>
                <p>2 CSPA Gold Circle Awards</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>2004</h2>
                <p>CSPA Silver Medal</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>2002</h2>
                <p>12 CSPA Gold Circle Awards</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>2001</h2>
                <p>ACP Pacemaker Finalist, 10 CSPA Gold Circle Awards, CSPA Gold Crown</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>2000</h2>
                <p>4 Gold Circle Awards, Silver Crown</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>1999</h2>
                <p>2 CSPA Gold Circle Awards, CSPA Silver Crown</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>1998</h2>
                <p>CSPA Gold Medal, CSPA Gold Crown, College Media Advisers (CMA) Diversity
                    Award</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>1997</h2>
                <p>10 CSPA Gold Circle Awards, CSPA Gold Crown</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>1996</h2>
                <p>ACP Pacemaker Finalist, CSPA Silver Crown</p>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>1995</h2>
                <p>ACP Pacemaker Finalist</p>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>1994</h2>
                <p>ACP Pacemaker Finalist</p>
                <details>
                    <summary>
                        Click to see cover
                    </summary>
                    <source srcset="/assets/images/covers/1994.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/covers/1994.png" alt="1994"
                        loading="lazy" width="100%" height="auto" oncontextmenu="return false;" draggable="false">
                </details>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>1993</h2>
                <details>
                    <summary>
                        Click to see cover
                    </summary>
                    <source srcset="/assets/images/covers/1993.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/covers/1993.png" alt="1993"
                        loading="lazy" width="100%" height="auto" oncontextmenu="return false;" draggable="false">
                </details>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>1992</h2>
                <details>
                    <summary>
                        Click to see cover
                    </summary>
                    <source srcset="/assets/images/covers/1992.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/covers/1992.png" alt="1992"
                        loading="lazy" width="100%" height="auto" oncontextmenu="return false;" draggable="false">
                </details>
            </div>
        </div>
        <div class="tl-container tl-right">
            <div class="tl-content">
                <h2>1991</h2>
                <details>
                    <summary>
                        Click to see cover
                    </summary>
                    <source srcset="/assets/images/covers/1991.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/covers/1991.png" alt="1991"
                        loading="lazy" width="100%" height="auto" oncontextmenu="return false;" draggable="false">
                </details>
            </div>
        </div>
        <div class="tl-container tl-left">
            <div class="tl-content">
                <h2>1990</h2>
                <details>
                    <summary>
                        Click to see cover
                    </summary>
                    <source srcset="/assets/images/covers/1990.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/covers/1990.png" alt="1990"
                        loading="lazy" width="100%" height="auto" oncontextmenu="return false;" draggable="false">
                </details>
            </div>
        </div>
    </div>
</div>