---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/stupubs-computers.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Contact Us</h1>
    <picture>
        <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg"> -->
        <img aria-hidden="true" decoding="async" src="/assets/images/stupubs-computers.jpg" alt="kitchen cabinets"
            loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
    <div class="cs-container">
        <form id="cs-form" name="Contact Form" action="https://formspree.io/f/meqbaqoy" method="POST">
            <div class="cs-content">
                <span class="cs-topper">Contact</span>
                <h2 class="cs-title">Get Involved</h2>
                <p class="cs-text">
                    Interested in joining our staff? Join our <a
                        href="https://join.slack.com/t/blueprint2023-24/shared_invite/zt-1yyzoztnb-FTdFURDzb2p2qyM8CnWL8Q">Slack</a>
                    and fill out
                    <a href="https://forms.gle/x3Ryofb54cE8dyii9">this Google Form</a>
                    to dive right in. Or, just come to a meeting— Mondays at 6 p.m. in the Student Media Office of the
                    Student Center (Suite 2150, near the Blue Donkey). <br /> <br /> Interested in donating or placing
                    an ad in this year's volume? Send us an email using the form below.
                </p>
            </div>
            <label>
                Name
                <input required type="text" id="name" name="name" placeholder="Name">
            </label>
            <label>
                Email
                <input required type="text" id="email" name="email" placeholder="Email">
            </label>
            <label>
                Phone
                <input required type="text" id="phone" name="phone" placeholder="Phone">
            </label>
            <label>
                How Did You Find Us
                <input type="text" id="find" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label-message">
                Message
                <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid" type="submit">Submit Message</button>
        </form>
        <div class="cs-right-section">
            <!--Email-->
            <span class="cs-header">Email</span>
            <a class="cs-link" href="mailto:{{client.eicEmail}}">{{client.eicEmail}}</a>
            <!--Address-->
            <span class="cs-header">Address</span>
            <a class="cs-link" href="{{client.address.mapLink}}">
                {{client.address.lineOne}},
                <br />
                {{client.address.lineTwo}},
                <br />
                <span class="cs-block">
                    {{client.address.city}}
                    {{client.address.state}}
                    {{client.address.zip}}
                </span>
            </a>

            <!-- Background Image-->
            <picture class="cs-bg-picture">
                <source media="(min-width: 601px)" srcset="/assets/images/tech-tower.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/tech-tower.jpg" alt="building"
                    loading="lazy" width="2500" height="1667">
            </picture>
        </div>
    </div>
</section>

<section id="sbs-r">
    <div class="cs-container">
        <div class="cs-right">
            <span class="cs-topper">standing on the shoulders of giants</span>
            <h2 class="cs-title">We can't do it without your support.</h2>
            <span class="cs-topper">for advertisers</span>
            <p class="cs-text">
                Your support is not just an investment in ad space; it's a strategic partnership with a publication that
                is making history. Position your brand at the heart of our revival to reach a diverse audience of 2,300+
                students, parents and young alumni. Explore the possibilities and secure your place in the
                <i>Blueprint</i> story by accessing our Media Kit below.
            </p>
            <span class="cs-topper">for alumni</span>
            <p class="cs-text">
                Your connection with Georgia Tech doesn't end at graduation; it's a lifelong journey. As
                <i>Blueprint</i> Yearbook makes its triumphant return, we invite you to be a crucial part of shaping the
                legacy. By contributing to our fundraising efforts, you ensure the continued success of Blueprint. Your
                donations will directly support the production of the next year's book, acquire essential camera
                equipment, facilitate awards submissions, and enable our team to attend conferences and events. Your
                generosity fuels the passion behind every page, preserving the stories that define the Georgia Tech
                experience. Join us in creating a lasting impact. Give back, stay connected, and be part of the
                <i>Blueprint</i> legacy.
            </p>
            <span class="cs-topper">for parents</span>
            <p class="cs-text">
                Parents, capture the pride and joy of your Yellow Jacket's Georgia Tech journey by placing a
                commemorative or congratulatory ad in the upcoming <i>Blueprint</i> Yearbook. Your heartfelt message
                will be a lasting tribute, etched into the pages of a historic edition marking the return of our beloved
                yearbook after five years.<br />
                Don't miss this chance to honor your student's achievements and milestones. Join us in creating a
                keepsake that preserves the memories of their academic triumphs and experiences. Submit your ad today
                and be an integral part of the <i>Blueprint</i> legacy.
            </p>
            <a href="https://mygeorgiatech.gatech.edu/giving/special" class="cs-button-solid">Donate</a>
            <a href="https://docs.google.com/presentation/d/1fIdG4dr05_FZJZPnW-ZxcOWCeJ4xPQqd0B2I1BHgZiI/edit?usp=sharing"
                class="cs-button-solid">Media Kit</a>
            <a href="https://docs.google.com/presentation/d/1fIdG4dr05_FZJZPnW-ZxcOWCeJ4xPQqd0B2I1BHgZiI/edit?usp=sharing"
                class="cs-button-solid">Purchase Ad</a>
        </div>
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg"> -->
                <img aria-hidden="true" decoding="async" src="/assets/images/bookshelf.jpg" alt="house" loading="lazy"
                    width="400" height="560">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg"> -->
                <img aria-hidden="true" decoding="async" src="/assets/images/stupubs-computers.jpg" alt="cabinets"
                    loading="lazy" width="400" height="560">
            </picture>
        </div>
    </div>
</section>
{% endblock %}