---
title: 'Staff'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: 'staff/'
eleventyNavigation:
    key: Staff
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/staff.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Staff</h1>
    <picture class="cs-picture">
        <!-- <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg"> -->
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  staff                     -->
<!-- ============================================ -->

<section id="staff">
    <div class="container">
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99"
                    height="99">
            </picture>
            <p>
                Rahul is a current Georgia Tech MSCS student, GT Alum and a former Technique Editor.
            </p>
            <div class="star-group">
                <span class="name">{{client.eic}}<span class="desc">Editor-in-Chief</span></span>
                <picture>
                    <a href="https://instagram.com/rahulsdesh"><img aria-hidden="false" loading="lazy" decoding="async"
                            src="/assets/svgs/instagram.svg" alt="instagram" height="15"></a>
                </picture>
            </div>
        </div>
        <!-- <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99"
                    height="99">
            </picture>
            <p>
                Matthew is a
            </p>
            <div class="star-group">
                <span class="name">Matthew Kistner<span class="desc">Editor</span></span>
                <picture>
                    <a href="https://instagram.com/"><img aria-hidden="false" loading="lazy" decoding="async"
                            src="/assets/svgs/instagram.svg" alt="instagram" height="15"></a>
                </picture>
            </div>
        </div> -->
        <div class="review">
            <picture>
                <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99"
                    height="99">
            </picture>
            <p>
                Mac is the Director of Student Media for Georgia Tech and serves as the adviser for all student
                publications at Georgia Tech, including the Blueprint, Technique, Erato, North Avenue Review, Tower and
                3484.
            </p>
            <div class="star-group">
                <span class="name">Mac Pitts<span class="desc">Adviser</span></span>
                <picture>
                    <a href="mailto:macpitts@gatech.edu"><img aria-hidden="false" loading="lazy" decoding="async"
                            src="/assets/svgs/email.svg" alt="email" height="15"></a>
                </picture>
            </div>
        </div>

        <div class="review">
            <h1>Join Our Staff!</h1>
            <p>
                Send us an email or DM us on Instagram if you're interested. Or, just come to one of our meetings—
                Mondays at 6 p.m., in the Student Media Office in the Student Center (Suite 2150)!
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

{% endblock %}